@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-color {
  /* color: #0f0f0f; */
  @apply text-gray-900;
}
.primary-color-bg {
  /* background-color: #0f0f0f; */
  @apply bg-[#050203];
}
.secondary-color {
  @apply text-gray-600;
}

.mainContainer {
  max-width: 80%;
  @apply mx-auto;
}

.btn-style {
  @apply flex items-center gap-2 bg-[#050203] text-white px-8 py-3 rounded-sm hover:shadow-lg duration-200;
}

.btn-outline-style {
  @apply border border-[#050203] text-black hover:text-white px-5 py-2  rounded-sm hover:bg-[#050203] duration-300;
}

.text-ring {
  position: relative;
}
.text-ring [style*="--index"] {
  font-size: calc(var(--font-size, 2) * 1rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
    rotate(calc(360deg / var(--total) * var(--index)))
    translateY(calc(var(--radius, 5) * -1ch));
}

/* contact page */

textarea:focus,
input:focus {
  outline: none;
}
